#contenedor-barras{
    display: flex;
    align-items: flex-end;
    height: 300px;
}
.barra {
    width: 20px;
    margin: 0 2px;
    background-color: royalblue;
    /* Esto elimina el salto brusco y hace que la barra "crezca" o "encoja" suavemente */
    transition: height 0.1s ease-in-out, background-color 0.1s;
    background-color: var(--bar-color);
}
.barra.comparando {
    background-color: #e74c3c; /* Rojo: elementos siendo evaluados */
}
.barra.pivote {
    background-color: #f1c40f; /* Amarillo/Dorado: el pivote o el elemento sobreescrito en Merge */
}
.barra.minimo {
    background-color: #3498db; /* Azul: para el mínimo en Selection Sort */
}